html {
    scroll-behavior: smooth;
}


body {
    margin: auto;
}

.index_color {
    background: #ffffff;
}

.hidden {
    display: none;
}


.hide {
    visibility: hidden;
}

/*--- MENU ---*/

.menu_desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 6.5vw;
    background: #313136;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
}

#menu_desktop_left {
    flex-basis: 400px;
    align-self: center;
    margin-left: 5vw;
}

#menu_desktop_right {
    flex-basis: 1200px;

    text-align: right;
    margin: 2vw 3vw;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 1.5vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    cursor: pointer;
}

nav a:hover {
    border-bottom: 2px solid white;
}


#logo {
    background-image: url(ikoner/logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    height: 5vw;
}


.menu_mobil {
    display: none;
}

.menuknap {
    display: inline-block;
    font-size: 12vw;
    font-family: 'Lato', sans-serif;
    color: black;
    margin: 2vw;
}


.menu {
    list-style-type: none;
}







/*  ------ Section portfolio  ------ */



.container_work {
    margin: 12vw auto 5vw auto;
    background-color: #f0f0f0;
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}



.container_work a:hover .box_text2 {
    visibility: visible;
    animation-name: fade_in;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

.container_work a:hover .box_line {
    visibility: visible;
    animation-name: line_grow;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.container_work a:hover .box {
    opacity: 0.9;
}



.box {
    flex-basis: 300px;
    margin: 2.3vw;
    width: 27vw;
    height: 18vw;
    flex-grow: 1;
    text-decoration: none;
    cursor: pointer;
    display: grid;
}



.box_link {
    text-decoration: none;
}

.box_text1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6vw;
    margin: 0 auto;
    margin-top: 4vw;

}


.box_text2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    margin: 0 auto;
    margin-bottom: 4vw;


}


.box_line {
    background-image: url(ikoner/hvidstreg.svg);
    background-repeat: no-repeat;
    width: 20vw;
    height: 1vw;
    margin: 0 auto;

}



#color1 {
    background: #402476;
}

#color2 {
    background: #e0522e;
}

#color3 {
    background: #6484A0;
}

#color4 {
    background: #E8AD39;
}

#color5 {
    background: #1b4972;
}

#color6 {
    background: #C058AC;
}

#color7 {
    background: #1C563D;
}

#color8 {
    background: #d05412;
}


#color9 {
    background: #5B7631;
}





/*  ------ ABOUT ------ */


#container_about {
    background-color: #f8f8f8;
    width: 95vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#om_left {
    display: flex;
    font-family: 'Lato', sans-serif;
    flex-basis: 600px;
    flex-grow: 2;
    margin: auto;
}

#om_right {
    display: flex;
    flex-basis: 300px;
    flex-grow: 1;
}

.om_child {
    flex-basis: 300px;
    flex-grow: 1;
    align-self: center;
}


#om_left p {
    margin-left: 6vw;
    font-size: 1vw;
    padding: 7vw;
}


#om_right img {
    width: 25vw;
    margin: 3vw;
}



/*---- Sociale medier knapper --- */

#social_media {
    width: 95vw;
    margin: 2vw;
}

.fa {
    padding: 15px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
    float: right;
}

.fa:hover {
    opacity: 0.6;
}


.fa-linkedin {
    background: #007bb5;
    color: white;
}


.fa-tumblr {
    background: #2c4762;
    color: white;
}


/*------ CV ----- */


.container_cv {
    background-color: #f8f8f8;
    width: 95vw;
    margin: 5vw auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}



.cv_right {
    flex-grow: 1;
    flex-basis: 300px;
    font-family: 'Lato', sans-serif;
    margin: 4vw;
}

.cv_left {
    flex-grow: 1;
    flex-basis: 300px;
    font-family: 'Lato', sans-serif;
    margin: 4vw;
}


.cv_titel {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    font-size: 2vw;
    width: 30vw;
    margin: 2vw 0;
}

.it_titel {
    font-weight: 900;
    font-size: 1.2vw;
}

.it_liste {
    font-size: 0.9vw;

}

.container_job {
    display: flex;
    flex-direction: column;
}

.periode_job {
    font-weight: 900;
    font-size: 1.2vw;
}


.titel_job {
    margin: 0.5vw 0;

}

.beskrivelse_job {
    font-size: 0.9vw;
}


/*----- OPGAVER GRUND-styling ----*/

.back {
    background-image: url(ikoner/Left%20Arrow%202.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    margin: 3vw 0 0 10vw;

}

.opgave_container {
    margin: 1vw 19vw 1vw 19vw;
    display: flex;
    flex-direction: column;

}

.opgave_titel h1 {
    font-family: 'Lato', sans-serif;
    font-size: 4vw;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
}

a {
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
    color: black;
}


iframe {
    width: 100%;
    height: 880px;
}

.integreret_foto {
    text-align: center;
    width: 100%;
    background-size: 100%;
    margin: 2vw auto;

}

.integreret_stor {
    margin: 2vw;
    display: block;
}

.integreret_spil {
    text-align: center;
}

.integreret_lille {
    text-align: center;
    margin: 0 10vw;
}

.integreret_mobil {
    text-align: center;
}

.integreret_mobil iframe {
    width: 375px;
    height: 667px;
}

.link_mobile {
    display: none;
}


hr {
    border: 1px solid black;
    margin: 5vw 0vw;
}

.sprite_foto {
    display: none;
}

.description {
    font-style: oblique;
    font-weight: 100;
}

/*---- EFFECTS --- */


.fade_in {
    animation-name: fade_in;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.slide_up {
    animation-name: slide_up;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slide_up {
    0% {
        transform: scaleX(0.5);
    }

    95% {
        transform: scaleX(0.9);
    }


    100% {
        transform: scaleX(1);
    }
}

.line_grow {
    animation-name: line_grow;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

@keyframes line_grow {
    0% {
        transform: scaleX(0.4);
    }


    100% {
        transform: scaleX(1);
    }
}


/*------ MEDIA QUERIES ---- */


@media only screen and (max-width: 414px) {

    /*- SPLASH -*/

    .container_index {
        height: 150vw;
    }


    .index_title {
        font-size: 12vw;
    }

    .index_line {
        width: 90vw;
    }

    .index_subtitle {
        font-size: 5vw;
    }


    /*- WORK -*/


    .box {
        width: 90vw;
        height: 35vw;
    }

    .box_text1 {
        font-size: 5.5vw;
    }

    .box_line {
        width: 70vw;
    }

    .box_text2 {
        font-size: 4vw;
    }

    .hide {
        visibility: visible;
    }

    /*- ABOUT -*/


    #om_left p {
        font-size: 3.5vw;
    }


    #om_right img {
        margin-left: 8vw;
        width: 80vw;
    }

    .fa {
        font-size: 15px;
        width: 15px;
    }



    /*- CV -*/


    .cv_titel {
        font-size: 8vw;
        text-align: center;
        width: 100%;
        margin: 6vw 0;
    }

    .it_liste {
        font-size: 4vw;

    }

    .periode_job {
        font-size: 5vw;
    }


    .beskrivelse_job {
        font-size: 4vw;
    }


    /*- OPGAVER -*/

    .sprite_foto {
        display: block;
        width: 85vw;
    }

    .sprite_foto img {
        width: 85vw;
    }

    .back {
        margin-top: 10vw;
        width: 10vw;
        height: 10vw;

    }

    a {
        font-family: 'Lato', sans-serif;
        font-size: 4vw;
        color: black;
    }

    .link_mobile {
        display: block;
    }

    .integreret_lille {
        display: none;
    }

    .integreret_stor {
        margin: 4vw;
        display: none;
    }


    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 6vw;
    }

    p {
        font-size: 4vw;

    }

    .opgave_container {
        margin: 2vw 10vw;

    }



    /*- MENU -*/

    .menu_mobil {
        display: block;
        margin: 1.5vw;
    }


    .menu_desktop {
        display: none;
    }

    nav a {
        font-size: 6vw;
        color: black;
    }



}
